@import './variables.css';

.card{
    width: 220px;
    height: 480px;
    position: relative;
    border: 0.2px solid var(--green);
    margin: 5px 0;
}

.card_content {
    padding: 10px;
    box-sizing: border-box;
}

.card_image{
    height: 270px;
    width: 220px;
    background-color: var(--green); 
    overflow: hidden; 
}

.card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
    cursor: pointer;
}

.card_image img:hover {
    transform:  scale(1.1);
}

.card_name{
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin: 7px 0;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card_ranking{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card_date{
    position: absolute;
    bottom: 2px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}


.badge{
    display: inline-block;
    font-size: 12px;
    background-color: var(--green);
    padding: 5px;
    border-radius: 5px;
}

@media(max-width:1000px){
    .card{
        width: 190px;
        height: 460px;
        position: relative;
        border: 0.2px solid var(--green);
    }
    .card_image{
        width: 190px;
    }
    .card_name{
        font-size: 16px;
    }
}

@media(max-width:500px){
    .card{
        width: 100%;
        height: 600px;
        position: relative;
        border: 0.2px solid var(--green);
    }
    .card_image{
        width: 100%;
        height: 400px;
    }
    .card_name{
        font-size: 16px;
    }
    
}