@import './variables.css';

.characterCard{
    border: 1px solid var(--green) ;
    width: max-content;
    margin: 5px;
    width: 200px;
}

.character_content{
    padding: 10px;
}

.characters{
    display: flex;
    flex-wrap: wrap;
}

.characterCard_image{
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.characterCard_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.link{
    cursor: pointer !important;
}

.pics{
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid var(--green) ;
    margin: 5px;
    border-radius: 5px;
}

.pics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media(max-width:500px){
    .characterCard{
        border: 1px solid var(--green) ;
        width: max-content;
        margin: 5px;
        width: 100%;
    }
    .characterCard_image{
        width: 100% !important;
    }
    .pics{
        width: 100%;
        height: 350px;
        overflow: hidden;
        border: 1px solid var(--green) ;
        margin: 5px;
    }   
}