/* .content{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 3;
    padding-left: 100px;
    padding-top: 80px;
    top: 0;
} */

.search_container{
    width: 100%;
    display: grid;
    place-content: center;
}

.search-content{
    display: grid;
    place-content: center;
}

/* @media(max-width:539px){
    .top_5_anime{
        margin-left: 10px !important;
    }
      
} */

.top_5_anime{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}



.top_anime-head{
    text-align: center;
}

.about img{
    height: 20px;
    cursor: pointer;
}

.about a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}