@import './navbar.css';
@import './sidebar.css';
@import './variables.css';
@import './search.css';
@import './content.css';
@import './card.css';
@import './loader.css';
@import './topAnimes.css';
@import './manga.css';
@import './info.css';
@import './badge.css';
@import './characters.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg-white);
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}