@import './variables.css';

.info_head h1{
    font-size: 25px;
}

.info_main{
    display: flex;
    gap: 10px;
}

.info_content div{
    text-transform: capitalize;
}

.info_image img{
    height: 400px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--green);
}

@media(max-width:700px){
    .info_main{
        display: flex;
        flex-direction: column;
    }
    .info_image img{
        height: 700px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--green);
    }
    .manga{
        padding-left: 80px;
        padding-right: 10px;
    }
}

.title_span{
    font-weight: bold;
}