.manga{
    padding-top: 100px;
    padding-left: 100px;
}

.manga_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.manga_title{
    text-align: center;
    font-size: 25px;
    text-transform:uppercase ;
}