@import './variables.css';

.navbar{
    padding:var(--padding) calc(var(--padding)*2);
    background-color: var(--green);
    width:100%;
    position: absolute;
    right: 0;
    transition: 0.5s ease-in-out;
    text-align: right;
    z-index: 5;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.active_navbar{
    left:auto;
    width:81%;
}

