@import './variables.css';

.search{
    display: flex;
}

.search input{
    padding: 10px;
    width:350px;
    border-radius: 20px;
    outline: 0;
    background-color: var(--green);
    border: 0;
    font-size: 17px;
    color: white;
}

.search button {
    margin-left: -36px;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

@media(max-width:900px){
    .search input{
        width:200px;
    }
    
}


::placeholder{
    color: white;
}