@import './variables.css';

.sidebar{
    height: 100vh;
    position: fixed;
    transition: 0.5s ease;
    left: -200px;
    background-color: var(--green);
    padding: 15px calc(var(--padding)*2);
    width:270px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}

.sidebar img {
    transform: rotate(180deg);
}

.nav-items {
    display: flex;
    margin-top: 70px;
    gap: var(--padding);
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.nav-items a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    padding: 5px var(--padding)  ;
    transition: 0.5s ease-in-out;
    border-radius: 10px; 
}

.nav-items a:hover {
   background-color: var(--bg-white);
   color: rgb(36, 35, 35);
}

.toggle_nav_button{
    width: 30px !important;
    cursor: pointer;
}


.active_sidebar{
    left: 0;
}

.active_sidebar img{
    transform: rotate(0);
}

.sidebar_backdrop{
    background-color:rgba(0, 0, 0, 0.205);
    width: 0;
    position: absolute;
}

.active_backdrop{
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 10;
}


@media(max-width:900px){
    .sidebar{
        width: 250px;
        left: -196px;
    }
    .active_sidebar{
        left: 0;
    }
    .active_backdrop{
        width: 100%;
        z-index: 10;
        right: 0;
    }
}