@import './variables.css';

.top_animes_container{
    padding-left:100px;
    padding-top: 80px;
}

.top_head_container{
    text-align: center;
    
}

.top_head{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 25px;
}

.top_head-green{
    background-color: var(--green);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 25px;
}

.filter_buttons_container{
    margin: 10px 0;
    display: grid;
    place-items: center;
}

.filter_button{
    background-color: var(--green);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    transition: 0.5s ease-in-out;
    padding: 5px;
    cursor: pointer;
}

.filter_button:hover{
    background-color: chartreuse;
}

.filter_buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_anime_cards{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.next_page_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}